body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #000080;
    color: white;
    padding: 15px;
   
}

.title-picture img {
    max-width: 100%;
    max-height: 100px;
}

.search-bar {
    margin-top: 15px;
}

nav {
    background-image: linear-gradient(#000080,#333);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

.pre-order,
.product-grid {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.product-grid button{
    border-radius: 150px;
    background-color: #333;
    height:60px;
    color: #fff;
}

.product {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.about-us {
    max-width: 600px;
    margin: 0 auto;
}
